body {
  background-image: url("../assets/background.jpg"); /* Ruta correcta */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
